@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

body {
  background-color: var(--primary-color);
}

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.s-wrapper video {
  position: fixed;
  width: 100%;
}

.s-wrapper .s-left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.s-wrapper .s-main-content {
  width: 100%;
  height: 100%;
  padding-left: 130px;
  position: relative;
}

.s-wrapper .s-main-content__top {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.s-wrapper .s-main-content__bottom {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}



.s-li img {
  width: 340px;
}

.s-li-2 img {
  width: 340px;
}

.s-li-3 img {
  height: 30vh;
  width: 330px;
}


.s-wrapper .s-main-content .s-logo {
  display: flex;
  gap: 4rem;
}

.s-wrapper .s-main-content .s-logo-spider3-3 {
  display: flex;
  gap: 35rem;
}

.s-wrapper .s-main-content .s-logo-spider3 img {
  width: 900px;
}

.s-wrapper .s-main-content .s-logo-spider3-3 img {
  width: 400px;
}

.s-wrapper .s-main-content .s-logo-spider3-1 {
  display: flex;
  gap: 35rem;
}

.s-wrapper .s-main-content .s-logo-spider3-1 img {
  width: 400px;
}

.bottom-voltar {
  margin-top: 4rem;
  padding: 10px;
  opacity: .7;
  border-radius: 30px;
  border: solid white;
  height: 4vh;
  background-color: var(--primary-color);
}

.bottom-voltar-mobile {
  display: none;
}

.bottom-voltar:hover {
  opacity: 1;
}

.s-wrapper .s-main-content .s-logo img {
  width: 900px;
  margin-top: 40px;
  margin-left: 0;
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-logo-spider3 {
  display: flex;
  gap: 4rem;
}

.s-wrapper .s-main-content .s-logo-spider3-1 img {
  margin-top: 10px;
  width: 400px;
}

.s-wrapper .s-main-content .s-logo-spider2-1 {
  display: flex;
  gap: 4rem;
}

.s-wrapper .s-main-content .s-logo-spider2-1 img {
  width: 900px;
}

.s-wrapper .s-main-content__top .s-description {
  background-color: rgba(0, 0, 0, .7);
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description-spider3-1 {
  background-color: rgba(0, 0, 0, .7);
  max-width: 75%;
  font-size: 14px;
  padding: 15px;
  margin-top: 1.11rem;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description_text P {

  color: white;
  line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description__text__spider3 {
  background-color: rgba(0, 0, 0, .7);
  max-width: 80%;
  padding: 15px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .pills {
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
  padding: 20px;
  padding-left: 0;


}

.s-wrapper .s-main-content .s-links ul {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 730px) {
  body {
    background-color: var(--primary-color);
  }

  .s-wrapper {
    width: 100%;

  }



  .s-wrapper video {
    position: absolute;
    height: 50%;

  }

  .s-wrapper .s-left-column {
    padding-top: 100px;
    width: 50px;
    height: 75%;

  }


  .s-wrapper .s-main-content {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    position: relative;
  }

  .s-wrapper .s-main-content .s-logo {
    margin-top: -2rem;
    margin-left: 1.50rem;
  }

  .s-wrapper .s-main-content .s-logo-spider3 {
    margin-top: .80rem;
    gap: 1rem;
  }


  .s-wrapper .s-main-content .s-logo img {
    width: 250px;
  }

  .s-wrapper .s-main-content .s-logo-spider2-1 img {
    width: 270px;
  }


  .s-wrapper .s-main-content .s-logo-spider3 img {
    width: 270px;
  }

  .s-wrapper .s-main-content .s-logo {

    gap: 1rem;
  }

  .s-wrapper .s-main-content .s-logo-spider3-1 {
    gap: 5rem;
  }

  .s-wrapper .s-main-content .s-logo-spider3-1 img {
    width: 200px;
  }

  .s-wrapper .s-main-content .s-logo-spider2-1 {
    margin-top: 1rem;
    gap: 1rem;
  }

  .s-link-bottom-voltar {

    display: none;
  }

  .bottom-voltar-mobile {

    display: block;
  }

  .s-wrapper .s-main-content .s-logo-spider3-3 {
    gap: 5rem;
  }

  .s-wrapper .s-main-content .s-logo-spider3-3 .bottom-voltar-mobile {
    margin-top: .80rem;
  }

  .s-wrapper .s-main-content .s-logo-spider3-3 img {
    width: 230px;
  }

  .s-wrapper .s-main-content__top .s-description {
    margin-top: 14rem;
    margin-left: 2.50rem;
    margin-right: 2.50rem;
  }

  .s-wrapper .s-main-content__top .s-description-mobile2 {
    margin-top: 15rem;
  }

  .s-wrapper .s-main-content__top .s-description-mobile {
    margin-top: 15rem;
  }

  .s-wrapper .s-main-content__top .s-description {
    text-align: justify;
    font-size: 15px;
  }

  .s-wrapper .s-main-content__top .s-description-spider3-1 {
    margin-top: 15rem;
    margin-left: 2.50rem;
    margin-right: 2.50rem;
    text-align: justify;
  }

  .s-wrapper .s-main-content__top .s-description__text__spider3 {
    margin-top: 13rem;
    margin-left: 2.50rem;
    margin-right: 2.50rem;
    text-align: justify;
  }

  .s-links {
    position: absolute;
    top: 200px;
    right: 5px;
  }

  .s-wrapper .s-main-content__bottom {
    text-align: center;
    margin-top: 18rem;
    height: 100%;
  }

  .s-wrapper .s-main-content__bottom-mobile2 {
    margin-top: 12rem;
  }


  .s-wrapper .s-main-content__bottom-mobile {
    margin-top: 8rem;
  }

  .s-wrapper .s-main-content__bottom3-1 {
    margin-top: 25rem;
  }

  .s-wrapper .s-main-content__bottom-spider3 {
    margin-top: 31rem;
  }

  .s-wrapper .s-main-content__bottom .gallery img {
    width: 265px;
    margin-left: 2rem;

  }
}